.points-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    height: auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

.services-list {
    margin-top: 20px;
    height: 600px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.service-item:last-child {
    border-bottom: none;
}

.service-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.service-info {
    flex: 1;
}

.service-info h3 {
    margin: 0;
    font-size: 20px;
    color: #C0392B;
}

.service-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.btn-admin {
    margin-top: 20px;
    margin-left: auto;
    padding: 10px 20px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-admin:hover {
    background-color: #2574A9;
}

.btn-canjear-lista {
    padding: 10px 20px;
    background-color: #C0392B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-canjear-lista:hover {
    background-color: #B0392B;
}

.btn-close {
    padding: 10px 20px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-close:hover {
    background-color: #21618C;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}