body {
    background-color: #eee;
}

/* Sección Tienda */
.tienda-section {
    background-image: url('../static/tienda-bg.jpg'); /* Imagen de fondo para la tienda */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.tienda-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.tienda-container h1 {
    font-size: 40px;
}

.options-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.option-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 0 5px #0006;
}

.option-card:hover {
    transform: scale(1.05);
}

.option-card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.btn-opcion {
    background-color: #2980B9;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.btn-opcion a {
    color: #fff;
    text-decoration: none;
}
