body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

/*-- HEADER -- */

header {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.container {
    width: 50%;
}

.user-details-container {
    grid-template-columns: repeat(2, 1fr);
}

.input-box input:focus {
    outline: solid 1px #2980B9;
    border: solid 1px transparent;
}

.input-box select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}

.input-box select:focus {
    outline: solid 1px #2980B9;
    border: solid 1px transparent;
}

/* SUBMIT BUTTON */

.submit-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 100%;
}

.submit-register input {
    padding: 10px 20px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-register input:hover {
    background-color: #2074A3;
    color: #fff;
    border-radius: 20px;
}

/* FOOTER */

footer {
    grid-column: 1/1;
    grid-row: 3;
}

.footer-container {
    padding: 20px;
}
