{{#partial "titulo"}} Inicio Sesión - Viandas Donation {{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/logueo/login/styles.css">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/toast.js" defer></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <div class="container">
            <div class="title">PERSONAS VULNERABLES<br>INICIO SESION</div>

            <form method="post" action="/persona-vulnerable/login" class="form-container">

                <div class="user-details-container">
                    <!-- EMAIL INPUT -->
                    <label class="input-box">
                        Email
                        <input type="email" name="email" required>
                    </label>

                    <!-- CONTRASEÑA INPUT -->
                    <label class="input-box">
                        Contraseña
                        <input type="password" name="password" required>
                    </label>
                </div>

                <!-- SUBMIT BUTTON -->
                <div class="submit-register">
                    <input type="submit" value="INICIAR">
                </div>
            </form>

            <!-- MENSAJE DE ERROR -->
            {{#if error}}
                <div class="error-message">
                    <p>{{error}}</p>
                </div>
            {{/if}}

            <!-- OLVIDE MI CONTRASEÑA -->
            <div class="forgot-password">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <!-- REGISTRO -->
            <div class="inicio-bottom">
                <p>¿Todavía no tenés una cuenta?<br>Contactate con un colaborador para tener una asignada</p>
            </div>
        </div>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Haciendo clic en alguno de los botones de inicio de sesión de arriba, aceptas nuestros <a href="/terminos">Términos</a> y <a href="/terminos">Política de Privacidad.</a></p>
{{/partial}}

{{> templates/base}}