{{#partial "titulo"}}Agregar Tecnico - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/agregartecnico/styles.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pinsearch/src/Leaflet.PinSearch.css" crossorigin="">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/sticky_nav_bar.js" defer></script>
    <script src="/public/js/agregartecnico/script.js" defer></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Leaflet PinSearch -->
    <script src="https://unpkg.com/leaflet.pinsearch/src/Leaflet.PinSearch.js" crossorigin=""></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
            <div class="container">
                <div class="title">REGISTRAR PERSONA VULNERABLE</div>
            <form method="post" action="/agregartecnico" class="form-container">
                <div class="user-details-container">
                    <label class="input-box" for="name">
                        Nombre
                        <input type="text" id="name" name="nombre" required>
                    </label>

                    <label class="input-box" for="surname">
                        Apellido
                        <input type="text" id="surname" name="apellido"  required>
                    </label>

                        <label class="input-box">Tipo de Documento
                            <select id="documento" name="documento" required>
                                <option value="dni">DNI</option>
                                <option value="lc">LIBRETA CIVICA</option>
                                <option value="le">LIBRETA DE ENROLAMIENTO</option>
                            </select>
                        </label>
                        <label class="input-box">
                            Número Documento
                            <input type="number" id="numero-documento" name="numero-documento" required>
                        </label>

                    <label class="input-box" for="surname">
                        CUIL
                        <input type="number" id="cuil" name="cuil" required>
                    </label>

                        <label class="input-box">Medio de Contacto
                            <select id="tipo-contacto" name="tipo-contacto">
                                <option value="email">EMAIL</option>
                                <option value="telegram">TELEGRAM</option>
                            </select>
                        </label>
                        <label class="input-box">
                            Contacto
                            <input type="text" id="numero-documento" name="numero-documento">
                        </label>

                    <label class="input-box">
                        Dirección de Entrega
                        <div id="map"></div>
                        <input type="hidden" id="latitude" name="latitud">
                        <input type="hidden" id="longitude" name="longitud">
                    </label>

                    <label class="input-box">
                        Radio de covertura
                        <input type="number" id="radio-cobertura" name="radio-cobertura">
                    </label>
                    <label class="input-check">
                        Acepto los <a href="/terminos"> terminos y condiciones </a>
                        <input type="checkbox" required>
                    </label>
                </div>

                <div class="submit-register">
                    <input type="submit" value="SIGUIENTE" id="submitBtn">
                </div>
            </form>
            </div>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Derechos reservados © 2024 Viandas Donation.</p>
{{/partial}}

{{> templates/base}}