{{#partial "titulo"}}Entrega Tarjetas - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/contribuciones/reset.css">
    <link rel="stylesheet" href="/public/css/contribuciones/entrega_tarjetas/styles.css">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/contribuciones/entrega_tarjetas/entrega_tarjetas.js" defer></script>
{{/partial}}

{{#partial "contenido"}}
    <main class="main__container">
        <div class="form__container">
            <div class="form-title">
                SOLICITUD DE TARJETAS
            </div>

            <form class="form__body" method="post" action="/contribucion/entrega-tarjetas">
                <div class="heladera-details-container">
                    <!-- Existing Inputs -->
                    <label class="input-box">
                        Cantidad de Tarjetas Solicitadas *
                        <input type="number" min="1" max="10" placeholder="Se pueden solicitar entre 1 a 10 tarjetas" name="cantidadTarjetas" required>
                    </label>

                    <!-- Botón para agregar dirección -->
                    <div class="direccion-toggle">
                        <label>
                            <button type="button" id="agregar-direccion">
                                Agregar Dirección de Entrega
                            </button>
                        </label>
                    </div>

                    <!-- Campos de Dirección ocultos inicialmente -->
                    <div class="user-details-container" id="direccion-container" style="display: none;">
                        <h3>Dirección Entrega</h3>
                        <label class="input-box" for="pais">
                            País
                            <input type="text" id="pais" name="pais">
                        </label>

                        <label class="input-box" for="provincia">
                            Provincia
                            <input type="text" id="provincia" name="provincia">
                        </label>

                        <label class="input-box" for="ciudad">
                            Ciudad
                            <input type="text" id="ciudad" name="ciudad">
                        </label>

                        <label class="input-box" for="codigoPostal">
                            Código postal
                            <input type="text" id="codigoPostal" name="codigoPostal">
                        </label>

                        <label class="input-box" for="calle">
                            Calle
                            <input type="text" id="calle" name="calle">
                        </label>

                        <label class="input-box" for="altura">
                            Altura/Número
                            <input type="number" id="altura" name="altura" min="0">
                        </label>

                        <label class="input-box" for="unidad">
                            Unidad
                            <input type="text" id="unidad" name="unidad">
                        </label>

                        <label class="input-box" for="piso">
                            Piso
                            <input type="text" id="piso" name="piso">
                        </label>
                    </div>

                    <label class="input-check">
                        Acepto los <a href="/terminos"> terminos y condiciones </a>
                        <input type="checkbox" required>
                    </label>
                </div>

                <div class="submit-button">
                    <input type="submit" value="ENVIAR SOLICITUD">
                </div>

                <div class="aclaracion-campos"> Los campos con * son obligatorios </div>
            </form>
        </div>

        <aside>
            <div class="aside">
                <img src="/public/img/contribuciones/icono_tarjeta.png" alt="Icono de Tarjeta" class="img__aside">
            </div>
        </aside>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Derechos reservados © 2024 Viandas Donation.</p>
{{/partial}}

{{> templates/base}}