{{#partial "titulo"}}Contribuciones - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/formas_colaboracion/styles.css">
{{/partial}}

{{#partial "contenido"}}
    <main>
        <section class="contribuciones">
            <div class="contribucion">
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/donar_dinero.jpeg" alt="Imagen de donación de dinero">
                </div>
                <div class="contribucion-info">
                    <h2>Donación de Dinero</h2>
                    <p>
                        Con tu contribución monetaria, ayudas a mantener y expandir nuestro proyecto de heladeras
                        comunitarias. Puedes optar por donar una única vez o realizar donaciones periódicas que nos
                        permitan planificar con mayor efectividad nuestras acciones.
                    </p>
                    <div class="btn-container-right">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/donacion-dinero">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="contribucion">
                <div class="contribucion-info">
                    <h2>Donación de Viandas</h2>
                    <p>
                        Colabora con nosotros donando viandas que serán distribuidas a través de nuestras heladeras
                        comunitarias. Cada vianda que dones ayuda a una persona en situación de vulnerabilidad
                        alimentaria.
                    </p>
                    <div class="btn-container-left">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/donacion-vianda">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/donacion_vianda.jpg" alt="Imagen de donación de viandas">
                </div>
            </div>

            <div class="contribucion">
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/heladera_comunitaria.jpg"
                         alt="Imagen de una heladera comunitaria">
                </div>
                <div class="contribucion-info">
                    <h2>Hacerse Cargo de una Heladera</h2>
                    <p>
                        Si eres una empresa o un establecimiento comercial, puedes contribuir haciéndote cargo de una de
                        nuestras heladeras. Ayuda a tu comunidad ofreciendo un lugar seguro y accesible para quienes lo
                        necesitan.
                        Ten encuenta que al hacerte cargo de una heladera, automaticamente tienes una <a href="#">suscripcion</a>
                        a esta.
                    </p>
                    <div class="btn-container-right">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/cuidado-heladera">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="contribucion">
                <div class="contribucion-info">
                    <h2>Distribuir Viandas</h2>
                    <p>
                        Puedes contribuir distribuyendo viandas entre heladeras, ya sea por fallas técnicas, por poco
                        espacio disponible, entre otras.
                        La principal funcion es poder trasladar en tiempo y forma a otra heladera. Para ello, te debes
                        de suscribir a la heladera
                        que desees brindar soporte.
                    </p>
                    <div class="btn-container">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/distribuir-vianda">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/viandas_traslado.jpg"
                         alt="Imagen de un traslado de viandas">
                </div>
            </div>

            <div class="contribucion">
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/contribucion_recompensa.png" alt="Imagen de recompensas">
                </div>
                <div class="contribucion-info">
                    <h2>Subir Recompensa</h2>
                    <p>
                        Si eres una empresa puedes contribuir subiendo productos o servicios como recompensa para los
                        colaboradores
                        que brindan sus servicios a la comunidad. Estas recomenpensas se canjean a traves de un sistema
                        de puntos
                        que implementamos en nuestro sistema. Puedas seleccionar distintos rubros y el stock inicial que
                        tienes
                        disponible en caso de que sea un producto.
                    </p>
                    <div class="btn-container-right">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/agregar-recompensa">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="contribucion">
                <div class="contribucion-info">
                    <h2>Suscribirse a Heladera</h2>
                    <p>
                        Puedes suscribirte a una heladera para que recibas notificaciones sobre posibles
                        eventos.
                    </p>
                    <div class="btn-container">
                        <button class="btn-contribuir-ahora">
                            <a href="/contribuciones/suscripcion-heladera">Contribuir Ahora</a>
                        </button>
                    </div>
                </div>
                <div class="contribucion-image">
                    <img src="/public/img/formas_colaboracion/icono_suscripcion.png" alt="Icono de Sucripción">
                </div>
            </div>

        </section>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Copyright © 2024 Viandas Donation. Todos los derechos reservados.</p>
{{/partial}}

{{> templates/base}}