{{#partial "titulo"}}Cargar Reparación de Falla Técnica - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet PinSearch -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pinsearch/src/Leaflet.PinSearch.css" crossorigin="">
{{/partial}}

{{#partial "scripts"}}
    <!-- Leaflet JS -->
    <script src="/public/js/sticky_nav_bar.js" defer></script>
    <script>
        let heladeras = [{{#each heladeras}}
            {
                idHeladera: {{this.id}},
                lat: {{this.ubicacion.latitud}},
                long: {{this.ubicacion.longitud}},
                nombre: "{{this.nombre}}"
            } {{#unless @last}},{{/unless}}
        {{/each}}]
    </script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.pinsearch/src/Leaflet.PinSearch.js" crossorigin=""></script>
{{/partial}}

{{#partial "contenido"}}
    <main class="main__container">
        <div class="form__container">
            <div class="form-title">
                CARGAR REPARACION DE FALLA TECNICA
            </div>
            <form method="POST" action="#" class="form__body">
                <div class="heladera-details-container">
                    <label class="input-box">
                        Heladera Defectuosa *
                        <div id="map"></div>
                        <input type="hidden" id="idHeladera" name="idHeladera" required>
                    </label>
                    <!-- Existing Inputs -->
                    <label class="input-box">
                        Descripción de la Reparación de la Falla Técnica *
                        <textarea name="descripcionReparacion" id="input-text-area" maxlength="255" required></textarea>
                    </label>
                    <label class="input-box">
                        Fecha de la Revisión *
                        <input name ="fecha" type="date" required>
                    </label>
                    <label class="custom-file-upload">
                        Imagen de la Falla Técnica
                        <input name="imagen" type="file"  accept="image/*">
                    </label>
                    <label class="input-box">
                        ¿Fue Resuelto el Problema?
                        <select name="donacionPeriodica" id="donacion-periodica" required>
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </label>
                    <label class="input-check">
                        Acepto los <a href="/terminos"> terminos y condiciones </a>
                        <input name="terminos-y-condiciones" type="checkbox" required>
                    </label>
                </div>

                <div class="submit-button">
                    <input type="submit" value="SUBIR INFORME REPARACION">
                </div>

                <div class="aclaracion-campos"> Los campos con * son obligatorios </div>
            </form>
        </div>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Copyright © 2024 Viandas Donation. Todos los derechos reservados.</p>
{{/partial}}

{{> templates/base}}
