{{#partial "titulo"}}Registro - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/logueo/registro/styles.css">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/logueo/registro/script.js" defer></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <div class="container">
            <div class="title">REGISTRAR USUARIO</div>

            <div class="tabs">
                <button class="tab-button active" data-tab="persona-fisica">Persona Física</button>
                <button class="tab-button" data-tab="persona-juridica">Persona Jurídica</button>
            </div>

            <form action="/colaborador/registro" method="post" class="form-container" id="registro-form">
                <div class="tab-content" id="persona-fisica-content">
                    <div class="user-details-container">
                        <label class="input-box" for="primerNombre">
                            Nombre
                            <input type="text" id="primerNombre" name="primerNombre" required minlength="2"
                                   maxlength="50"
                                   placeholder="Ingrese su nombre">
                        </label>

                        <label class="input-box" for="apellido">
                            Apellido
                            <input type="text" id="apellido" name="apellido" required minlength="2" maxlength="50"
                                   placeholder="Ingrese su apellido">
                        </label>

                        <label class="input-box" for="emailFisico">
                            Correo Electrónico
                            <input type="email" id="email" name="email" required placeholder="ejemplo@correo.com">
                        </label>

                        <label class="input-box" for="fechaNacimiento">
                            Fecha de Nacimiento
                            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                        </label>

                        <label class="input-box" for="tipoDocumento">
                            Tipo Documento
                            <select id="tipoDocumento" name="tipoDocumento">
                                <option value="DNI">DNI</option>
                                <option value="LC">LIBRETA CIVICA</option>
                                <option value="LE">LIBRETA DE ENROLAMIENTO</option>
                            </select>
                        </label>

                        <label class="input-box" for="documento">
                            Numero de Documento
                            <input type="text" id="documento" name="documento" required
                                   placeholder="Sin guiones ni espacios">
                        </label>
                    </div>
                </div>

                <div class="tab-content" id="persona-juridica-content" style="display: none;">
                    <div class="user-details-container">
                        <label class="input-box" for="razonSocial">
                            Razón Social
                            <input type="text" id="razonSocial" name="razonSocial" required minlength="2"
                                   maxlength="100"
                                   placeholder="Ingrese la razón social">
                        </label>

                        <label class="input-box" for="cuit">
                            CUIT
                            <input type="text" id="cuit" name="cuit" required
                                   placeholder="XXXXXXXXXXX">
                        </label>

                        <label class="input-box" for="emailJuridico">
                            Correo Electrónico
                            <input type="email" id="emailJuridico" name="emailJuridico" required
                                   placeholder="ejemplo@empresa.com">
                        </label>

                        <label class="input-box" for="tipoPersonaJuridica">
                            Tipo de Persona Jurídica
                            <select id="tipoPersonaJuridica" name="tipoPersonaJuridica" required>
                                <option value="">Seleccione un tipo</option>
                                <option value="GUBERNAMENTAL">GUBERNAMENTAL</option>
                                <option value="ONG">ONG</option>
                                <option value="EMPRESA">EMPRESA</option>
                                <option value="INSTITUCION">INSTITUCION</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="user-details-container">
                    <label class="input-box" for="telefono">
                        Numero Celular
                        <input type="tel" id="telefono" name="telefono" required
                               placeholder="Sin código de área">
                    </label>

                    <label class="input-box" for="password">
                        Contraseña
                        <input type="password" id="password" name="password" required minlength="8"
                               placeholder="Mínimo 8 caracteres">
                    </label>

                    <!--                    <label class="input-box" for="confirmPassword">-->
                    <!--                        Confirme Contraseña-->
                    <!--                        <input type="password" id="confirmPassword" name="confirmPassword" required minlength="8"-->
                    <!--                               placeholder="Repita su contraseña">-->
                    <!--                    </label>-->
                </div>

                <div class="user-details-container">
                    <label class="input-box" for="pais">
                        País
                        <input type="text" id="pais" name="pais">
                    </label>

                    <label class="input-box" for="provincia">
                        Provincia
                        <input type="text" id="provincia" name="provincia">
                    </label>

                    <label class="input-box" for="ciudad">
                        Ciudad
                        <input type="text" id="ciudad" name="ciudad">
                    </label>

                    <label class="input-box" for="codigoPostal">
                        Código postal
                        <input type="text" id="codigoPostal" name="codigoPostal">
                    </label>

                    <label class="input-box" for="calle">
                        Calle
                        <input type="text" id="calle" name="calle">
                    </label>

                    <label class="input-box" for="altura">
                        Altura/Número
                        <input type="number" id="altura" name="altura" min="0">
                    </label>

                    <label class="input-box" for="unidad">
                        Unidad
                        <input type="text" id="unidad" name="unidad">
                    </label>

                    <label class="input-box" for="piso">
                        Piso
                        <input type="text" id="piso" name="piso">
                    </label>
                </div>

                <div class="submit-register">
                    <input type="submit" value="REGISTRAR">
                </div>
            </form>
        </div>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>
        Haciendo clic en el botón de registro,
        aceptas nuestros <a href="/terminos">Términos</a> y <a href="/terminos">Política de Privacidad</a>.
    </p>
{{/partial}}

{{> templates/base}}