<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/Logo_viandas_donation.png">

    <!-- Stylesheet fundamental de todos los Templates-->
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- Stylesheet especificos de ese Template -->
    {{#block "styles"}}{{/block}}

    <!-- Scripts JS especificos de ese Template -->
    {{#block "scripts"}}{{/block}}

    <!-- Titulo del Template -->
    <title>{{#block "titulo"}}{{/block}}</title>
</head>
<body>
<div id="toast" class="toast">
    {{#if toast}}
        <p>{{toast}}</p>
    {{/if}}
</div>
<header>
    <div class="container-logo">
        <a class="img-logo" href="/">
            <img src="/public/img/Logo_viandas_donation.png" alt="Logo">
            <h2 class="name-logo">Viandas Donation</h2>
        </a>
        <div class="container-buttons">
            <!-- Botón de Inicio/Cierre de sesión -->
            {{#if usuarioAutenticado}}
                <form action="/colaborador/logout" method="post">
                    <button type="submit" class="btn-login">Cerrar Sesión</button>
                </form>
            {{else}}
                <button class="btn-login">
                    <a href="/colaborador/login">Iniciar Sesión</a>
                </button>
            {{/if}}

            <!-- Botón de Contribuir Ya -->
            <button class="btn-contribuir">
                <a href="/quiero-ayudar">Contribuir Ya</a>
            </button>
        </div>
    </div>
    <nav class="navbar">
        <a href="/" class="navbar-item">INICIO</a>
        <a href="/quienes-somos" class="navbar-item">QUIENES SOMOS</a>
        <a href="/contacto" class="navbar-item">CONTACTO</a>
        <a href="#" class="navbar-item">TIENDA</a>
    </nav>
</header>

<!-- Contenido Main del Template -->
{{#block "contenido"}}{{/block}}

<!-- Footer - Incluir solo un <p> texto </p> -->
<footer>
    <div class="footer-container">
        {{#block "contenido-footer" }}{{/block}}
    </div>
</footer>
</body>
</html>