
.hidden {
    display: none;
}

header {
    margin-bottom: 20px;
}

#direccion {
    grid-column: 1 / -1; /* Ocupa toda la fila en el grid */
    display: none; /* Inicialmente oculto */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos dentro del div */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#posee-documento {
    grid-column: 1 / -1; /* Ocupa toda la fila en el grid */
    display: none; /* Inicialmente oculto */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos dentro del div */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#posee-documento.show {
    display: flex; /* Mostrar el div cuando se añade la clase 'show' */
}

#direccion.show {
    display: flex; /* Mostrar el div cuando se añade la clase 'show' */
}

.input-box select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}

.input-box select:focus {
    outline: solid 1px #2980B9;
    border: solid 1px transparent;
}

/* SUBMIT BUTTON */

.submit-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 100%;
}

.submit-register input {
    padding: 10px 20px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.question-checkbox {
    display: flex;
    align-items: center;   /* Alinea el checkbox al centro verticalmente */
    justify-content: flex-start;  /* Asegura que el contenido se alinee hacia la izquierda */
    gap: 10px;  /* Espacio entre la pregunta y el checkbox */
    margin-bottom: 10px;  /* Para dar algo de espacio debajo de cada conjunto */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-register input:hover {
    background-color: #2074A3;
    color: #fff;
    border-radius: 20px;
}


#map {
    border-radius: 20px;
    margin-top: 10px;
    border: solid 1px #0006;
    min-height: 400px;
    min-width: 400px;
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    pointer-events: none;
    margin: 5px 0;
}

.btn-clear {
  display: flex;
  flex-flow: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#clear {
  padding: 10px 20px;
  background-color: #2980B9;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1300;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    text-align: center;
    z-index: 1100;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.modal-content p {

    margin-bottom: 25px;
    font-size: 16px;
    color: #C0392B;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.btn-cerrar {
    padding: 10px;
    background-color: #C0392B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    padding-top: 100px;
}

.btn-cerrar:hover {
    background-color: #B0392B;
}

.btn-cerrar a {
    text-decoration: none;
    color: #fff;
}
