{{#partial "titulo"}}Carga Persona Vulnerable - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/carga_persona_vulnerable/styles.css">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/carga_persona_vulnerable/script.js" defer></script>
{{/partial}}

{{#partial "contenido"}}
    <main>
        <div class="container">
            <div class="title">REGISTRAR PERSONA VULNERABLE</div>

            <form action="" class="form-container">
                <div class="user-details-container">
                    <label class="input-box" for="name">
                        Nombre
                        <input type="text" id="name" placeholder="Nombre" required>
                    </label>

                    <label class="input-box" for="surname">
                        Apellido
                        <input type="text" id="surname" placeholder="Apellido" required>
                    </label>

                    <label class="input-box" for="dob">
                        Fecha de Nacimiento
                        <input type="date" id="dob" required>
                    </label>

                    <div class="question-checkbox">
                        <p>¿Posee Domicilio?</p>
                        <input type="checkbox" id="tiene-domicilio" name="tiene-domicilio" value="yes">
                    </div>

                    <div id="direccion" class="hidden">
                        <label class="input-box">
                            País
                            <input type="text" required>
                        </label>

                        <label class="input-box">
                            Provincia
                            <input type="text" required>
                        </label>

                        <label class="input-box">
                            Ciudad
                            <input type="text" required>
                        </label>

                        <label class="input-box">
                            Calle
                            <input type="text" required>
                        </label>

                        <label class="input-box">
                            Altura/Número
                            <input type="number" min="0" required>
                        </label>

                        <label class="input-box">
                            Unidad
                            <input type="text" required>
                        </label>

                        <label class="input-box">
                            Piso
                            <input type="text" required>
                        </label>
                    </div>

                    <div class="question-checkbox">
                        <p>¿Posee documento de identidad?</p>
                        <input type="checkbox" id="tiene-dni" name="tiene-dni" value="yes">
                    </div>

                    <div id="posee-documento" class="hidden">
                        <label class="input-box">Tipo de Documento
                            <select id="documento" name="documento" required>
                                <option value="dni">DNI</option>
                                <option value="lc">LIBRETA CIVICA</option>
                                <option value="le">LIBRETA DE ENROLAMIENTO</option>
                            </select>
                        </label>
                        <label class="input-box">
                            Número Documento
                            <input type="text" id="numero-documento" required>
                        </label>
                    </div>

                    <label class="input-box" for="menores-cargo">
                        Menores a cargo
                        <input type="number" id="menores-cargo" placeholder="Número" required>
                    </label>

                    <label class="input-box" for="name">
                        ID Tarjeta
                        <input type="text" id="tarjeta" placeholder="xxxxxxxxxxx" required>
                    </label>
                </div>

                <div class="submit-register">
                    <input type="submit" value="REGISTRAR">
                </div>
            </form>
        </div>
    </main>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>
        Haciendo clic en alguno de los botones de registro de
        arriba, aceptas nuestros <a href="/terminos">Términos</a> y <a href="/terminos">Política de Privacidad</a>.
    </p>
{{/partial}}

{{> templates/base}}
