{{#partial "titulo"}}Términos y Condiciones - Viandas Donation{{/partial}}

{{#partial "styles"}}
    <link rel="stylesheet" href="/public/css/terminos/styles.css">
{{/partial}}

{{#partial "scripts"}}
    <script src="/public/js/sticky_nav_bar.js" defer></script>
{{/partial}}

{{#partial "contenido"}}
    <div class="terms-container">
        <h1>Términos y Condiciones</h1>
        <p>Última actualización: 30 de Julio de 2024</p>

        <h2>1. Introducción</h2>
        <p>Bienvenido a Viandas Donation. Estos Términos y Condiciones rigen el uso de nuestro sitio web y servicios. Al acceder a nuestro sitio web, aceptas cumplir con estos términos.</p>

        <h2>2. Uso del Sitio</h2>
        <p>El uso de nuestro sitio web está permitido solo para mayores de edad y para aquellos que puedan formalizar un contrato vinculante bajo la ley aplicable. Al utilizar nuestro sitio web, garantizas que cumples con estos requisitos.</p>

        <h2>3. Registro de Usuario</h2>
        <p>Para acceder a ciertas funciones de nuestro sitio web, debes registrarte como usuario proporcionando información veraz y completa. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña.</p>

        <h2>4. Contenido del Usuario</h2>
        <p>Eres responsable de cualquier contenido que publiques en nuestro sitio web. No debes publicar contenido ilegal, ofensivo o que infrinja los derechos de terceros.</p>

        <h2>5. Política de Privacidad</h2>
        <p>Tu privacidad es importante para nosotros. Consulta nuestra Política de Privacidad para obtener más información sobre cómo recopilamos, usamos y protegemos tu información personal.</p>

        <h2>6. Modificaciones de los Términos</h2>
        <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio se publicará en esta página y, si es significativo, te notificaremos por otros medios.</p>

        <h2>7. Contacto</h2>
        <p>Si tienes alguna pregunta o inquietud sobre estos Términos y Condiciones, por favor contáctanos a través de la sección de <a href="/contacto">Contacto</a> en nuestro sitio web.</p>
    </div>
{{/partial}}

{{#partial "contenido-footer"}}
    <p>Copyright © 2024 Viandas Donation. Todos los derechos reservados.</p>
{{/partial}}

{{> templates/base}}
