.img__aside{
    width: 200px;
    height: 200px;
}

.vianda-section {
    margin-bottom: 1em;
}

.vianda-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.vianda-title i {
    margin-right: 10px;
}

.vianda-inputs {
    display: none; /* Las secciones estarán ocultas por defecto */
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.vianda-inputs label {
    margin-bottom: 10px;
}

.input-box textarea {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000;
    resize: none; /* Evita que se pueda cambiar el tamaño del textarea */
    font-size: 12px;
    min-height: 100px; /* Puedes ajustar la altura según necesites */
}

.input-box textarea:focus {
    outline: solid 1px #2980B9;
    border: solid 1px transparent;
}

.vianda-title {
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: left;
    width: 100%;
    border-radius: 10px;
}

