/* General */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a {
    color: #2980B9;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.terms-container {
    max-width: 800px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0007;
}

.terms-container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #2980B9;
    margin-bottom: 20px;
}

.terms-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.terms-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #C0392B; 
}

.sticky-padding {
    padding-top: 70px; /* Ajusta este valor según la altura de la navbar */
}

.hidden-logo {
    display: none;
}