body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column-start: 1;
    grid-column-end: 1;
}

.img-logo:hover {
    text-decoration: none;
}

.img-logo img {
    height: auto;
}

.btn-contribuir {
    text-decoration: none;
}

.btn-contribuir:hover {
    text-decoration: none;
}

.btn-contribuir a:hover {
    text-decoration: none;
}

.navbar-item:hover {
    text-decoration: none;
}

main {
    padding: 20px;
}

.terms-container {
    max-width: 65%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0007;
}

.terms-container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #C0392B;
    margin-bottom: 20px;
}

.terms-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.terms-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}
