/* General */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #2980B9;
}

a:hover {
    text-decoration: underline;
}

/* Header */

header {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #C0392B;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fff;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-logo:hover {
    text-decoration: none;
}

.img-logo img {
    width: 45px;
    height: auto;
}

.name-logo {
    margin-left: 10px;
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.btn-contribuir {
    padding: 10px;
    background-color: #C0392B;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

.btn-contribuir a{
    color: #fff;
    text-decoration: none;
}

.btn-contribuir a:hover{
    text-decoration: none;
}

.btn-contribuir:hover {
    background-color: #B0392B;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
}

.navbar-item {
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.navbar-item:hover {
    background-color: #B0392B;
    border-radius: 20px;
    text-decoration: none;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.terms-container {
    max-width: 800px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0007;
}

.terms-container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #C0392B;
    margin-bottom: 20px;
}

.terms-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.terms-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: #9F9D9D;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}
