body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/*MAPA*/

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    pointer-events: none;
    margin: 5px 0;
}
#map {
    width: 50%;
    height: 80vh;
    margin-right: 20px;
    background-color: #e0e0e0;
}

/*HELADERA*/
#infoPanel {
    width: 50%;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-y: auto;
}


.rounded-box {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 60px);
}

.fridge-info {
    background-color: #f5f5f5;
    padding: 0; /* Ajustamos el padding general */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.fridge-info .header {
    background-color: #C0392B;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
}

.fridge-info .details {
    padding: 20px;
    font-size: 16px;
    color: #000000;
}

.fridge-info .details p {
    margin: 5px 0;
}

.fridge-info .alert {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:250px;
}

.fridge-info .previous-alert {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.fridge-info .alert img, .fridge-info .previous-alert img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.fridge-info .alert p, .fridge-info .previous-alert p {
    margin: 0;
    font-size: 14px;
}

.fridge-info .previous-alert {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.fridge-info .previous-alert-title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
    padding-left: 20px;
}
